{% extends 'header.html' %}
{% block body_block %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ticket View</title>
  </head>
  <body>
    <div class="content-inner">
      <!-- Page Header-->
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom">Ticket View</h2>
        </div>
      </header>

<br>
     <div class="container-fluid">
        <div class="row">
           {% for v in listticket %}
             <div class="col-md-6">
               <div class="img-thumbnail">
                 <a href="{% url 'tic:Detail_view' pk=v.pk %}">{{v.id}}&nbsp{{v.user}}</a>
                  <small style="float:right">{{v.date_and_time}}</small><br>
                <em>Subject:  {{v.subject}}</em>
                <p>Description :  {{v.description}}</p>
               </div>
                <br>
             </div>
             {% endfor %}
        </div>
     </div></div>
<style>
.img-thumbnail{
  background: #dc61358a;
}


 </style>
</body>
{% endblock %}
</html>
