{% extends "header.html"%}

{% block body_block%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>
  <div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Create Store</h2>
      </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
        <li class="breadcrumb-item active">Create Store</li>
      </ul>
  <form method="POST" enctype="multipart/form-data" id="categoryForm" data-cities-url="{% url 'csd' %}" novalidate>
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" name="sub" value="Add Store">
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $("#id_Category").change(function () {
      var url = $("#categoryForm").attr("data-cities-url");
      var categoryId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'Category': categoryId
        },
        success: function (data) {
          $("#id_SubCategory").html(data);
        }
      });
    });
  </script>
  </div>

</body>
{% endblock %}

</html>
