{% extends "header.html" %}
{% block body_block%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
  </head>
  <body>
  <!-- <h1>Start your chat...</h1> -->
  <div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Chat</h2>
      </div>
    </header>

    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
        <li class="breadcrumb-item active">Chat</li>
      </ul>


  <form method="POST">
    {% csrf_token %}
    <p>
    {% if form.reciever_id%}
      <input type="hidden" name="reciever_id" value="{{user.id}}">
      <br><br>
      {% if form.date_and_time %}
      <input type="hidden" name="date_and_time" value="{{user.date_and_time}}">
        <br>
        Message: {{form.message}}
        <br>
      {% endif %}
    {% endif %}
    </p>
    <input type="submit" name="" value="Send">
  </form>
  {%endblock%}

  </div>
  </body>
</html>
