
{% extends "header.html"%}

{% block body_block%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>
  <div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">View Product</h2>
      </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
        <li class="breadcrumb-item active">View Product</li>
      </ul>
      <form class=""method="POST">
        {% csrf_token %}
        <div class="search">
          <!-- <input class="" type="text" placeholder="search for product category..."> -->
          <select name="search">
            <option value="" selected="">-----------</option>
            {% if view %}
            {%for a in view%}
            <option value="{{a.Category}}">{{a.Category}}</option>
            {% endfor %}
            {% endif %}
          </select>
          <input class="" type="submit" name="srch" value="Search">
          <button type="button" name="button" class="button">Check Status</button>

        </div>

      </form>
      <!-- <button onclick="myFunction()">Try it</button> -->

      <table border="1 px solid" id="table">
      <tr>
        <th>Product_Id</th>
        <th>Product_No</th>
        <th>Title</th>
        <th>Image</th>
        <th>Price</th>
        <th>Offer</th>
        <!-- <th>Brand</th>
        <th>Catalog</th> -->
        <th>Size</th>
        <th>Weight</th>
        <!-- <th>Category</th>
        <th>Sub-category</th> -->
        <th>Category</th>
        <th>Sub_Category</th>
        <th>Product_Type</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
      {% if category %}
      <tr>
        {% for view in category%}
        <td>{{view.id}}</td>
        <td>{{view.Product_No}}</td>
        <td>{{view.Title}}</td>
        <td><img src="/media/{{view.image}}" alt="image goes here"></td>
        <td>{{view.Price}}</td>
        <td>{{view.Offer}}</td>
        <td>{{view.Size}}</td>
        <td>{{view.Weight_per_kg}}</td>
        <td>{{view.Category}}</td>
        <td>{{view.SubCategory}}</td>
        <td>{{view.Product_Type}}</td>
        <td id="id_quantity{{view.Quantity}}">{{view.Quantity}}
          <script type="text/javascript">
            $("button").click(function() {
              var r = document.getElementById("table").rows.length;
              var i = 0;
              while (i <= r) {
                var quantity = $('#id_quantity{{view.Quantity}}').html();
                var x = parseInt(quantity);
                if(x<=350){
                  var msg = "Below Range!!"
                  var ms = msg.fontcolor("danger")
                  document.getElementById("quant{{view.Quantity}}").innerHTML = ms;
                }
                i++;
              }
            });

          </script>
        <div id="quant{{view.Quantity}}"></div></td>
        <td>{{view.Product_Description}}</td>
        <td>{{view.Details}}</td>
        <td><a href="{% url 'uproduct' view.pk%}">Edit</a><a class="del" href="{% url 'dproduct' view.pk%}">Delete</a></td>
      </tr>

      {% endfor %}
      {% endif %}
      </table>

    </div>
    <style>
      .search{
        width:300px;
        margin-left:300px;
      }

      .del{
        color:black;
        background:red;
      }
    </style>

</body>
{% endblock %}

</html>
