

{% extends "header.html" %}

{% block body_block %}
{% load static%}
<div class="content-inner">
  <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
      <li class="breadcrumb-item active">Forms</li>
    </ul>
  </div>
  <!-- Forms Section-->

  <section class="forms">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <form method="POST">
              {% csrf_token %}
              <div class="">
                <input type="text" name="search" placeholder="For product information search the product id here....">
                <button type="submit" name="searc">Search</button>

              </div>
              <p>
                Barcode:{{form.model_pic}}
              </p>
              <div class="fomruse">Order Number:
                <input type="text" name="" value="{{form.order_number}}"></div>
              <div class="fomruse">Invoice Number:
                <input type="text" name="" value="{{form.invoice_number}}"></div>

              <div class="producs1" style="display:block;">
                {% if srch%}
                  {% for a in srch%}

                <div class="fomruse">Product Name:
                    <input type="text" name="" value="{{a.product_name}}">
                </div>
                <div class="set3">
                  <div class="fomruse">Product Id:
                   <input type="text" name="" value="{{a.product_id}}">
                  </div>
                  <div class="fomruse">Quantity/kg:
                    <input type="text" name="" value="{{a.quantity}}">
                  </div>
                  <div class="fomruse">Price:
                    <input type="text" name="" value="{{a.price}}">
                  </div>
                  <div class="fomruse">Size:
                    <input type="text" name="" value="{{a.size}}">
                  </div>
                </div>
                   {% endfor %}
                {% endif %}
                <span class="nextshow"><a href="{% url "exproduct" %}">+</a></span>
              </div>
              <div class="pinked">
                <div class="fomruse">User Full Name:
                  <input type="text" name="" value="{{form.user_full_name}}"></div>
                <div class="fomruse sizess">Email:
                  <input type="text" name="" value="{{form.email}}"></div>
                <div class="fomruse">Contact Number:
                  <input type="text" name="" value="{{form.contact_number}}"></div>
              </div>
              <div class="pinkes">
                <div class="fomruse">Address:
                  <input type="text" name="" value="{{form.address}}"></div>
                <div class="set3">
                  <div class="fomruse">Shipping User Full Name:
                    <input type="text" name="" value="{{form.shipping_user_full_name}}"></div>
                  <div class="fomruse">Shipping User Contact No.:
                    <input type="text" name="" value="{{form.shipping_user_contact_no}}"></div>
                  <div class="fomruse">City:
                    <input type="text" name="" value="{{form.city}}"></div>
                  <div class="fomruse">Country:
                    <input type="text" name="" value="{{form.country}}"></div>
                  <div class="fomruse">Zip Code:
                    <input type="text" name="" value="{{form.zipcode}}"></div>
                </div>

              </div>
              <div class="fomruse">Client GST:
                <input type="text" name="" value="{{form.client_gst}}"></div>
              <div class="fomruse">Mod of Payment:
                <input type="text" name="" value="{{form.mode_of_payment}}"></div>
              <div class="fomruse">Date And Time:
                <input type="text" name="" value="{{form.date_and_time}}"></div>
              <div class="fomruse">Shipping Cost:
                <input type="text" name="" value="{{form.shipping_cost}}"></div>
                <input type="submit" value="save link">
              <div class="fomruse">Barcode:
                  <input type="text" name="" value="{{x}}">
                <!-- <input type="text" name="" value="{{form.shipping_cost}}"> -->
                <img src="/media/barcode.gif" alt="barcode goes here..">
              </div>

            </form>
            <!-- {% if srch %}
             {% for a in srch %}

               {{a.product_id}}
               {{a.product_name}}
               {{a.quantity}}
               {{a.price}}
               {{a.size}}

             {%endfor%}
            {%endif%} -->
<style>
 .producs1 {
    width: 100%;
    float: left;
    overflow: hidden;
    background: #f9ecac;
    color: #000;
    padding: 0;
    border: 0 solid #87a1dc;
    padding: 12px 20px;
    margin: 7px 0;
    border-radius: 6px; display:none;
}
.fomruse {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin: 0 7px;
}
.producs1 input {
    width: 100%;
}
form {
    margin: 16px 0 21px 21px;
    font-size: 13px;
    background: #6b89cc !important;
    color: #fff;
    padding: 20px;
    margin: 0;
}
form input[type="text"], form select, form input[type="file"] {
    display: block;
    margin: 2px 0 16px 0;
    padding: 0;
    height: 24px;
    width: 100%;
}
.fomruse input, .fomruse select {
    font-size: 18px;
    font-weight: bold;
    padding: 6px 9px !important;
    height: 37px !important; color:white !important;
}
.set3 .fomruse{width:20% !important;}
.producs1>.fomruse {
    width: 100%;
    margin: 0;
}
.producs1>.fomruse input {
    height: 52px !important;
    font-size: 24px !important;
}
.set3 .fomruse {
    width: 32% !important;
}
.pinkes {
    background: #d46cb4;
    padding: 18px 20px;
}
.pinkes>.fomruse {
    width: 100%;
    margin: 0;
}
.pinked {
    background: #c554a3;
    padding: 18px 14px; clear:both;
}
.pinked .fomruse {
    width: 25%;
}
.pinked .fomruse.sizess {
    width: 44%;
}
span.nextshow {
    background: green;
    color: #fff;
    padding: 0 12px;
    font-size: 23px;
    font-weight: bold;
    float: right; cursor:pointer;
}
span.closemeshow {
    background: #ff0000;
    color: #fff;
    padding: 0 12px;
    font-size: 23px;
    font-weight: bold;
    float: right; cursor:pointer;
}
.showm+.producs1{display:block;}
</style>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  {% endblock %}
