<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat history</title>
  </head>
  <body>
    <table border="2px black">
      <h2>Show all chats</h2>
      <tr>
        <th>Sender id</th>
        <th>Reciever id</th>
        <th>Time and date</th>
        <th>Message</th>
      </tr>
      <tr>
        <td>{{all.id}}</td>
        <td>{{all.reciever_id}}</td>
        <td>{{all.date_and_time}}</td>
        <td>{{all.message}}</td>
      </tr>
    </table>
  </body>
</html>
