{% extends "header.html"%}

{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>
  <body>
    <div class="content-inner">
      <!-- Page Header-->
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom">Update Product</h2>
        </div>
      </header>
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
          <li class="breadcrumb-item active">Update Product</li>
        </ul>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" name="" value="Update Product">
  </form>
  </div>
</body>
{% endblock %}

</html>
