{% extends "header.html"%}

{% block body_block%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>
  <div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">View Employee</h2>
      </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
        <li class="breadcrumb-item active">View Employee</li>
      </ul>


      <table border="1 px solid">
      <tr>
        <th>Employee_Id</th>
        <th>Employee_Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Image</th>
        <th>Date Added</th>
        <th>Action</th>
      </tr>
      {% if view %}
      <tr>
        {% for v in view%}
        <td>{{v.id}}</td>
        <td>{{v.Name}}</td>
        <td>{{v.Email}}</td>
        <td>{{v.Address}}</td>
        <td>{{v.Position}}</td>
        <td>{{v.salary}}</td>
        <td><img src="/media/{{v.Image}}" alt="image"></td>
        <td>{{v.date_added}}</td>
        <td><a href="{% url 'userapp:uemployee' v.pk%}">Edit</a><a class="del" href="{% url 'userapp:delemp' v.pk%}">Delete</a></td>
      </tr>
      {%endfor%}
      {% endif %}
      </table>

    </div>
    <style>
      .search{
        width:300px;
        margin-left:300px;
      }

      .del{
        color:black;
        background:red;
      }
    </style>

</body>
{% endblock %}

</html>
