{% extends "header.html"%}

{% block body_block%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>
  <div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">View Store</h2>
      </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
        <li class="breadcrumb-item active">View Store</li>
      </ul>


      <table border="1 px solid">
      <tr>
        <th>Store_Id</th>
        <th>Store_No</th>
        <th>Brand</th>
        <th>Title</th>
        <th>Image</th>
        <th>Category</th>
        <th>Sub-category</th>
        <th>Details</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      {% if viewstore %}
      <tr>
        {% for v in viewstore%}
        <td>{{v.id}}</td>
        <td>{{v.store_no}}</td>
        <td>{{v.select_brand}}</td>
        <td>{{v.Title}}</td>
        <td><img src="/media/{{v.Image}}" alt="image"></td>
        <td>{{v.Category}}</td>
        <td>{{v.SubCategory}}</td>
        <td>{{v.Details}}</td>
        <td>{{v.Store_description}}</td>
        <td><a href="{% url 'upstore' v.pk%}">Edit</a><a class="del" href="{% url 'delstore' v.pk%}">Delete</a></td>
      </tr>
      {%endfor%}
      {% endif %}
      </table>

    </div>
    <style>
      .search{
        width:300px;
        margin-left:300px;
      }

      .del{
        color:black;
        background:red;
      }
    </style>

</body>
{% endblock %}

</html>
